<section class="login-section">
    <div class="main-texts-wrapper">
        <h1>Login do Agente</h1>
        <p>Bem vindo de volta! Digite suas credenciais para entrar no sistema</p>
    </div>

    <div class="form-wrapper">
        <form #formControl="ngForm" (submit)="onFormSubmit(formControl)">
            <label for="username">Usuário</label>
            <div class="input-wrapper">
                <input 
                    type="text"
                    placeholder="user@123"
                    name="username"
                    id="username"
                    [(ngModel)]="username"
                    #usernameControl="ngModel"
                    required
                />
                <img src="assets/svg/user.svg" />
            </div>
            <p 
                class="input-error-text"
                [class.display-none]="usernameControl.hasError('required') && usernameControl.touched"
            >
                O usuário é <strong>obrigatório</strong>
            </p>
            
            <label for="password">Senha</label>
            <div class="input-wrapper">
                <input 
                    type="password"
                    placeholder="Digita a sua senha" 
                    name="password"
                    id="password"
                    [(ngModel)]="password"
                    #passwordControl="ngModel"
                    required
                />
                <img src="assets/svg/lock.svg" />
            </div>
            <p 
                class="input-error-text"
                [class.display-none]="passwordControl.hasError('required') && passwordControl.touched"
            >
                A senha é <strong>obrigatória</strong>
            </p>

            <button type="submit">Entrar</button>
        </form>
    </div>
</section>