@import "../../../styles/variables.scss";

.login-section {
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100vh;
    padding: 50px;
    border-radius: 16px;


    .main-texts-wrapper {
        color: $primary-text-color;
        text-align: center;
        margin-bottom: 30px;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label {
            color: $secondary-text-color;
            cursor: text;
            font-size: 16px;
        }

        .input-wrapper {
            display: flex;

            input {
                border: 1px solid $light-gray-color;
                border-right: 0;
                border-radius: 5px 0 0 5px;
                width: 100%;
                padding: 12px 10px;
                font-size: 18px;
                outline: 0;
            }

            img {
                background-color: $primary-color;
                width: 45px;
                padding: 5px;
                border-radius: 0 5px 5px 0;
            }
        }

        .input-error-text {
            color: $red-text-color;
            opacity: 0;
            font-size: 16px;
            padding: 0;
            transition: 0.3s;

            &.display-none {
                opacity: 1;
                padding: 5px 0;
            }
        }

        button {
            color: $white-color;
            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 5px;
            font-size: 18px;
            width: 100%;
            padding: 12px 0;
            margin-top: 10px;
            transition: 0.5s;
            cursor: pointer;

            &:hover:not(:disabled) {
                color: $primary-color;
                background-color: #fff;
            }

            &:disabled {
                opacity: 0.8;
            }
        }
    }
}