.login-section {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    padding: 50px;
    border-radius: 16px;

    .main-texts-wrapper {
        text-align: center;
        margin-bottom: 30px;
        color: #0d0d0d;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input {
            border: 1px solid #d3d3d3;
            border-radius: 5px;
            width: 100%;
            padding: 12px 10px;
            font-size: 18px;
            outline: 0;
        }

        .input-error-text {
            color: #fd1919;
            opacity: 0;
            font-size: 16px;
            padding: 0;
            transition: 0.3s;

            &.display-none {
                opacity: 1;
                padding: 5px;
            }
        }

        button {
            color: #fff;
            background-color: #153959;
            border: 1px solid #153959;
            border-radius: 5px;
            font-size: 18px;
            width: 100%;
            padding: 12px 0;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                color: #0a3674;
                background-color: #fff;
            }
        }
    }
}




